*

!.gitignore

!ghostty/
!ghostty/**

!hypr/
!hypr/**

!nvim/
!nvim/**

!tmux/
!tmux/**

!VSCodium/
!VSCodium/User/
!VSCodium/User/settings.json

!wallpapers/
!wallpapers/**

!waybar/
!waybar/**

!zsh/
!zsh/**
