*

!.gitignore
!README.md

!.scripts/
!.scripts/**

!ghostty/
!ghostty/**

!gnupg/
!gnupg/**

!nvim/
!nvim/**

!tmux/
!tmux/**

!tmuxinator/
!tmuxinator/**

!opencode/
opencode/*
!opencode/AGENTS.md
!opencode/agents/
!opencode/agents/**
!opencode/skills/
!opencode/skills/**
!opencode/opencode.json
opencode/opencode.local.json

!VSCodium/
!VSCodium/User/
!VSCodium/User/settings.json

!wallpapers/
!wallpapers/**

!zsh/
!zsh/**
